*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  width:100vw;
  height:100vh;
  
}

.header-div{
  width:100vw;
  height: 10vh;
  background-color: rgb(155, 127, 175);
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  padding:10px;
}

.footer-div{
  width:100vw;
  height:10vh;
  background-color: rgb(155, 127, 175);
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bttn{
  border-radius: 5px;
  width:100px;
  height:30px;
  box-shadow: 2px 2px 5px rgb(106, 84, 116);
  margin-right:10px;
  border: none;
}
.body{
  background-color: rgb(210, 189, 236);
  width:100vw;
  height:80vh;
  border-radius: 15px 15px 15px 15px;
  

}

.form-body{
  display:flex;
  justify-content: center;
  align-items: center;
}
.login-above-text{
  padding:30px 30px 10px 30px;
  text-align: center;
}
.form-card{
  width:300px;
  height:200px;
  background-color: rgb(196, 108, 255);
  border-radius: 7px;
  box-shadow: 3px 5px 10px grey;
}
.signup-card{
  width: 20vmax;
  height:21vmax;
  background-color: rgb(196, 108, 255);
  border-radius: 7px;
  box-shadow: 3px 5px 10px grey;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.x-bttn-form{
  display:flex;
  justify-content: flex-end;
  padding:10px;
  cursor: pointer;
  
}
.ffff{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bttn-login{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.bttn-signup{
  background-color: rgb(31, 4, 31);
  color:white;
  width:80px;
  height:30px;
  border:none;
  box-shadow: 4px 4px 5px rgb(75, 5, 121);
}
.btn-lg{
  width:80px;
  height:30px;
  background-color: rgb(31, 4, 31);
  color: antiquewhite;
  border: none;
  box-shadow: 4px 4px 5px rgb(75, 5, 121);
}

.profile-body{
  width:inherit;
  height: inherit;
  
  background-color: rgb(210, 189, 236);
  border-radius: 15px 15px 15px 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.side-section{
  background-color: rgb(149, 128, 173);
  width:46vmin;
  height:70vh;
  margin-left:12px;
  border-radius: 30px 3px 10px 3px;
  box-shadow: rgb(106, 84, 116) 2.5px 2.5px 8px;
  display: flex;

}
.show{
  height:70vh;
  width: 70vmax;
  background-color: rgb(149, 128, 173);
  margin-right:20px;
  border-radius:14px 5px 30px 10px;
  box-shadow: rgb(106, 84, 116) 2.5px 2.5px 8px;
  position: relative;
}
.wlcm-txt{
  text-align: center;
  margin:10px;
}
.note-create{
  cursor: pointer;
  width:50px;
  height: 50px;
  border-radius: 35px;
  background-color: rgb(252, 237, 151);
  display:flex;
  justify-content: center;
  align-items: center;
  color:rgb(59, 32, 59);
  font-size: 30px;
  position: absolute;
  bottom:10px;
  right:10px;
}
.notes-sec{
  width:36vmax;
  height:20vmin;
  background-color: rgb(238, 218, 130);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin:20px;
  border-radius: 20px;
}
.tasks-sec{
  width:36vmax;
  height:20vmin;
  background-color: rgb(238, 218, 130);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin:20px;
  border-radius: 20px;
}
.prof-sub{
  background-color: rgb(14, 4, 14);
  width:20vmax;
  height:6vmin;
  color:white;
  margin:4px;
  margin-left:10px;
  border-radius: 6px 3px 6px 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.signup-body{
  display:flex;
  justify-content: center;
  align-items: center;
}
